<div class="ui-g ui-fluid">
  <!-- Left Side -->
  <div class="ui-g-12 ui-lg-12 card card-w-title">
    <div class="ui-g-12 ui-lg-12">
      <h1>Prueba de concepto</h1>
      <form [formGroup]="formularioCrear">
        <div id="inputForm" class="ui-g-12 ui-md-4">
          <span class="md-inputfield">
            <input type="text" formControlName="nombres" name="nombres" pInputText>
            <label>Nombre:</label>
          </span>
        </div>
        <div id="inputForm" class="ui-g-12 ui-md-4">
          <span class="md-inputfield">
            <input type="text" formControlName="apellidos" name="apellidos" pInputText>
            <label>Apellido:</label>
          </span>
        </div>
        <div id="inputForm" class="ui-g-12 ui-md-4">
          <span class="md-inputfield">
            <p-dropdown [options]="documento"  formControlName="tipoIdentificacion" name="tipoIdentificacion" editable="false" placeholder="Tipo de documento"></p-dropdown>
          </span>
        </div>
        <br>
        <div id="inputForm" class="ui-g-12 ui-md-4">
          <span class="md-inputfield">
            <input type="text" formControlName="numeroIdentificacion" maxlength="7" minlength="6" name="numeroIdentificacion" pInputText>
            <label>Numero de documento:</label>
          </span>
        </div>

        <div class="ui-g-12 ui-md-12" style="text-align:start; display:inline-flex">
          <div class="ui-g-12 ui-md-6">
            <button [disabled]="formularioCrear.invalid" pButton type="button" label="Insertar" style="margin-left:10px; width:auto"
              class="ui-button-success" (click)="crearPersonas()"></button>

            <button pButton type="button" label="Buscar" style="margin-left:10px; width:auto" class="blue-grey-btn"
              (click)="listarPersonas()"></button>
          </div>

        </div>

      </form>
    </div>
  </div>



  <div class="ui-g-12 ui-lg-12" style="padding-top:0">

    <div class="ui-g-12" *ngIf="mostrartabla">
      <div class="card card-w-title">
        <h1>DataTable</h1>
        <p-table [value]="persona">
          <ng-template pTemplate="header">
            <tr>
              <th *ngFor="let col of cols">
                {{col.header}}
              </th>
                <th>
                    Acciones
                </th>

            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-persona let-columns="columns" let-rowIndex="rowIndex">
            <tr>
              <td *ngFor="let col of cols">
                {{persona[col.field]}}
              </td>
              <td >
                <button pButton (click)="modificarPersona(persona)" type="button" label="Modificar" style="margin-left:10px"
                  class="ui-button-primary"></button><br>
                <button pButton type="button" label="Borrar" (click)="eliminarPersona(persona.id)" style="margin-left:10px" class="ui-button-danger"></button>
              </td>
            </tr>
          </ng-template>
        </p-table>

        <p-dialog [visible]="showDialog" (onHide)="hideDialog()" [responsive]="true" [positionTop]="'50%'"
          [width]="1000">
          <h1>Modificar datos del cliente</h1>
          <div>
            <h3>Reemplace los datos que desea modificar</h3>
            <form [formGroup]="formularioModificar">
                <div id="inputForm" class="ui-g-12 ui-md-4" [hidden]="oculto">
                    <span class="md-inputfield">
                      <input #idModificar type="text"  placeholder={{seleccionado.idPersona}} formControlName="Id" name="Id"
                        pInputText>
                      <label>id Persona:</label>
                    </span>
                  </div>
              <div id="inputForm" class="ui-g-12 ui-md-4">
                <span class="md-inputfield">
                  <input #nombreModificar type="text" placeholder={{seleccionado.nombres}} formControlName="Nombre" name="Nombre"
                    pInputText>
                  <label>Nombre:</label>
                </span>
              </div>
              <div id="inputForm" class="ui-g-12 ui-md-4">
                <span class="md-inputfield">
                  <input #apellidoModificar type="text" placeholder= {{seleccionado.apellidos}} formControlName="Apellido" name="Apellido"
                    pInputText>
                  <label>Apellido:</label>
                </span>
              </div>
                <div id="inputForm" class="ui-g-12 ui-md-4">
          <span class="md-inputfield">
            <p-dropdown [options]="documento"  formControlName="TipDoc" name="TipDoc" editable="false" placeholder="Tipo de documento"></p-dropdown>
              <label>Tipo de documento </label>
          </span>
                </div>
              <br>
              <div id="inputForm" class="ui-g-12 ui-md-4">
                <span class="md-inputfield">
                  <input #numeroIdModificar type="text" placeholder={{seleccionado.numeroIdentificacion}} formControlName="NumDoc"
                    name="NumDoc" pInputText>
                  <label>Numero de documento:</label>
                </span>
              </div>
              <div class="ui-g-12 ui-md-12">
                <button pButton type="button" label="Cerrar" style="margin-left:10px; width:auto" class="ui-button-info"
                  (click)="hideDialog()"></button>
                <button pButton type="button" label="Guardar" [disabled]="formularioModificar.invalid" style="margin-left:10px; width:auto" class="ui-button-success"
                  (click)="guardarModificacion(seleccionado.id)"></button>
              </div>
            </form>
          </div>

        </p-dialog>
      </div>
    </div>

  </div>
